@import "config";

header {
  .nav-link > a {
    color: $white;
  }
  #header-contact {
    font-family: "Fraunces", serif;
    font-weight: 700;
    background: $light-primary;
  }
}

.hero {
  background: url(/images/desktop/image-header.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  .content {
    margin-top: 180px !important;
    color: $white;
  }
}

$yellow: #f5cf09;
$pink: #fc7565;
.services {
  .service {
    .content {
      padding: $global-padding !important;
      a {
        color: $dark;
      }
    }
  }

  & > *:nth-child(1) > .content > a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 10px;
    background: lighten($yellow, 30%);
    width: 100%;
    z-index: -1;
    border-radius: 50px;
    transition: all 0.1s ease-in-out;
  }
  & > *:nth-child(2) > .content > a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 10px;
    background: lighten($pink, 20%);
    width: 100%;
    z-index: -1;
    border-radius: 50px;
    transition: all 0.1s ease-in-out;
  }

  & > *:nth-child(1) > .content > a:hover::after {
    background: $yellow;
  }
  & > *:nth-child(2) > .content > a:hover::after {
    background: $pink;
  }
}

.projects {
  .project {
    .content {
      top: 65%;
      padding: 0 $global-padding !important;
    }
  }
}

.testimonials {
  padding: 25vh 0 !important;

  .content {
    padding: 0 $global-padding !important;

    .photo {
      clip-path: circle();
      aspect-ratio: 1/1;
      width: 5vw;
    }
  }
}

footer {
  height: 50vh;
  background: $darker-primary;
}
